/* Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
/* Sem media query para `xs`, já que este é o padrão, no Bootstrap.*/

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/

body{
    background-color: thistle;
}

header{
    margin: 2vh auto;
}

header, nav, main{
    background-color: white;
    min-height: 10vh;
}

nav, main{
    min-height: 82vh; /*vh = altura do view point*/
}


@media (min-width: 576px) {
    
}

/* Dispositivos médios (tablets com 768px ou mais)*/
@media (min-width: 768px) {
    

}

/* Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) {
    
}

/* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) {
    

}